
/* ---------- ALL DEVICES ---------- */
p,
h1 {
	color: #f2f0e6;
}

/* ---------- PHONES ---------- */
@media (max-width: 767px) {
	body {
		background: #f2f0e6;
	}
}

/* ----------- TABLETS ----------- */
@media (min-width: 768px) {
	body {
    background: red;
  }
}

/* ----------- DESKTOPS ----------- */
@media (min-width: 1200px) {
body {
	background: blue;
}
}
